body {
    background-color: #FFB800;
    margin: 0;
    padding: 0;

    font-family: sans-serif  ;
}


main{
    max-width: 1000px;
    background-color: white;
    height: auto;
    margin: 0 auto;


}
.back-photo{
    background-image: url('img/bb.png');
    background-repeat: no-repeat;
}

header{
    width: 60%;
    box-sizing: border-box;
    margin-left: auto; 
    
    display: flex;
    justify-content: space-between; 
    align-items: center;    
    padding: 10px 35px; 

    font-size: small;
    font-weight:bold;
    color: #a7a5a4;
}
header img {
    vertical-align: middle;
    margin-right: 5px;     
}

.cv-layout {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 10px;

  display: grid;
  grid-template-columns: 40% 2px 60%;
  gap: 20px;
  box-sizing: border-box;
  align-items: start;   
}

.info-row {
  display: grid;
  grid-template-columns: 150px 1fr;   
  gap: 20px;
  align-items: start;   
  margin-bottom: 100px;
}
.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.skills-col p {
  margin: 8px 0 0 0;
}

footer{
    text-align: center;
    padding-bottom: 20px;
}


/*fonts*/
p{
    font-weight: 100;
    color: rgb(47, 47, 47);
}
footer p{
    color: #737373;
}
h1,h2{
    font-weight: 900;
    letter-spacing: -1.5px;
    font-size: 1.5em;
}

.photo-prof img{
    width: 300px;
}
a{
    text-decoration: none;
    color: inherit;   
}
           
.info-title {
  margin: 0;
  line-height: 1;
}

.info-desc {
  margin: 0;
  line-height: 1.4;
}
.divider {
  background: black;
  width: 2px;
  height: 90%;            
}

